    #page {
	margin: 0 auto;
	width:1000px;
    }
    
    #content{
    margin-bottom:16px;
   	width:100%;
    }
    
    #header{
	height:100px;
    width:1000px;
	margin-bottom:2px;
	
	 top:0px;
	}
	
	.headerText {
	font-size: 13pt;

	}
	
	 .label {
        font-weight: bold;
        font-size: 9pt;
       }
       
 .labelH2 {
 		font-weight: bold;
        font-size: 12pt;
        }
.labelH1 {

        font-size: 10pt;
        }
	
