    #page {
	margin: 0 auto;
	width:1000px;
    }
    
    #content{
    margin-bottom:16px;
   	width:100%;
    }
    
    #header{
    width:100%;
	height:50px;
	margin-bottom:2px;

	}
	
	.headerText {
	font-size: 13pt;

	}